@import play.mvc.Http.Request
@(edges: String, attr: String, form: Form[DependencyData])(implicit request: Request, messages: play.i18n.Messages)

@main("Dependency Manager") {
<div></div>
<div class="row justify-content-center">
    <div class="col-md-9" align="center">
        <h2>Dependency Manager</h2>
    </div>
    <div class="col-md-2 align-self-center" align="center">
        <input class="btn btn-danger" type="submit" value="Reset" onclick="location.href='@routes.DependencyController.reset()';">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-9" id="dependencyGraph">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
            <script>
                createNetwork(@Html(edges), @Html(attr));
            </script>
    </div>
    <div class="col-md-2">
        <div>
            <b>Graph view</b>
        </div>
        <div>
            <button type="button" class="btn btn-secondary" onclick='setNetworkDirection("UD")'>
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary" onclick='setNetworkDirection("DU")'>
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary" onclick='setNetworkDirection("RL")'>
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary" onclick='setNetworkDirection("LR")'>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
        </div>
        <hr>
        <div>
            <b>Upload dependency file</b>
        </div>
        <div>
            @helper.form(action = routes.DependencyController.upload, Symbol("enctype") -> "multipart/form-data") {
            @helper.CSRF.formField
            <input type="file" dependencies="dependency_graph">

            <p>
                <input type="submit">
            </p>

            }
        </div>
        <hr>
        <div>
            <div class="form-group">
                <b>Enter node to search</b> <input type="text" id="message">
            </div>
            <input type="button" onclick="focusNetwork()" value="Submit"/>
        </div>
        <hr>
        <div>
            @helper.form(action = routes.DependencyController.buildRecoveryGraph) {
            @helper.CSRF.formField
            @helper.inputText(form("Dependencies"))
            <button type="submit">Submit</button>
            }
        </div>

    </div>
</div>
<div class="col-md-9" align="center">
    @* Flash shows updates to a page *@
    @request.flash.asScala().data.map { case (dependencies, value) =>
    <div class="@dependencies">@value</div>
    }

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
    @form.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
    <div>
        @error.key: @error.message
    </div>
    }
    }
</div>
}